*{
  margin: 0%;
  padding:0%;
}
body{
font-family:    system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
background:indigo;
}

header{
height:150px;
background: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;

}

.row{
width: 50%;
}

.header-top{
margin-left: 23%;
display: flex;
justify-content: space-between;
list-style: none;

}

.text{    
margin-top: 3%;

}
.text-other{
margin-top: 3%;
display: inline-block;
padding: 4px 10px;
margin-top:2.5%;
margin-bottom: 3px;
border-radius: 24px;
background: rgba(255,255,255,.2);

}

a{
text-decoration: none;
color:lightgray;
}
a:hover{
color: ghostwhite;
}


.subheader_logo{
width: 20%;
margin-left: 15%;

}

.subheader_logo img{
  max-width: 50%;
  position: relative;
  bottom:30px;
 
}



.right_block{
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 300%;
  bottom:70px;
}

.item{
  position: relative;
  bottom:30px;
  left: 10px;
  color: lightgray;
 
}




.burger{
width: 35px;
height:35px;
cursor: pointer;
background:linear-gradient(to bottom, ghostwhite 20%, transparent 21%, transparent 40%,
ghostwhite 41%, ghostwhite 60%, transparent 61%, transparent 80%, ghostwhite 81%);
border-radius: 8px;
position: relative;
right: 65px;
top: 20px;
}

.rubbish{
  margin-top: 2%;
  height: 300px;
  background:white;
  border-radius:25px;
}

.window{
  margin-left: 11%;
  position: relative;
  top: 50px;
  left: 15px;
}

p{
  margin-top: 1%;
  color: gray;
}

h1{
    color: #000;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px;
}


footer{
  height: 300%;
  background-color: indigo;
  display:flex;
  justify-content: space-around;
}


.inside{
  width: 90%;
  padding: 62px 30px 60px;
  display: flex;
  justify-content: space-around; 
}

.style{
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  margin: 0 0 12px;
 
}

span{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  margin: 0 0 12px;
}

.item-footer{

  display: inline-block;
  margin: 0 12px;
  vertical-align: top;

}

.mobile_site:hover{
  border-bottom: 1px solid;
}

.follow{
  margin-top: 2%;
  color: gray;
}

.span{
  margin: 0 -10px;
}

.vessel a{
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: border-color .2s ease 0s;
  transition: border-color .2s ease 0s;
  border: 1px solid;
  border-color: rgba(255,255,255,.28);
  border-radius: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 48px;
  padding: 10px 24px 12px;
  font-weight: 600;
}

.under_block{
  position: relative;
  bottom:12px;
  border-radius:20px;
  background-color:ghostwhite;
}

.inside_block{
  height: 300px;

}

.announcement{
  position: relative;
  top: 50px;
  left: 225px;
}

.line{
  position: relative;
  top: 50px;
  left: 225px;
}






















